.Pic {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.image {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
.para {
  background: white;
  padding: 30px;
  text-align: justify;
  line-height: 1.5;
}
